{% extends"base.html.twig" %}
{% block body %}
    <div class="breadcrumbs">
        <div class="container">
            <ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
                <li><a href="{{ path('souk_el_medina_pidev_homepage') }}"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
                <li class="active">Register Page</li>
            </ol>
        </div>
    </div>
    <!-- //breadcrumbs -->
    <!-- register -->
    <div class="register">
        <div class="container">
            <h2>Participation</h2>
            <div class="login-form-grids">
                <center><h6><p>Déja vous etre participer</p></h6></center>
                <div class="register-home">
                    <a href="{{ path('souk_el_medina_pidev_homepage') }}">Home</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}