<html>
<head>
</head>




<body style="background: #f6f6f6; color: #2c3e50; margin: 0; padding: 0;">



<table class="wrapper" style="background: #fff; border-spacing: 0; font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif; width: 100%; height: 100%">
    <tr>
        <td colspan="2"><center><h1 style="color: #2c3e50; font-size: 46px;">Facture</h1></center></td>

    </tr>
    <tr>
        <td colspan="2"><hr></td>

    </tr>


    <tr>




        <td style="font-size: 18px">

            <p class="listing__param"  style="width: 400px">Type Maison: <strong>{{ r.nommagasin }}</strong></p>
            <p class="listing__param">Type Logement: <strong>{{ r.descriptionmagasin }}</strong></p>
            <p class="listing__param">Pays: <strong>{{ r.contactmagasin }}</strong></p>
            <p class="listing__param">Ville: <strong>{{ r.datecreationmagasin |date('d-m-Y') }}</strong></p>

        </td>
    </tr>

    <tr>
        <td colspan="2"><hr></td>

    </tr>




    <tr>
        <td colspan="2"><hr></td>

    </tr>


    <tr>


        </td>

    </tr>

    <tr>

    </tr>

    <tr>
        <td colspan="2"><hr></td>

    </tr>

    <tr>
        <td colspan="3" >
            <center>
                <p>Factur&eacute &agrave: ARYIAK.
                    2037 Esprit,
                    Ariana, Tunisie<br><a href="#" style="color: #2c3e50;">Merci pour votre confiance</a></p>
            </center>
        </td>
    </tr>

</table>
</body>



</html>















