
{% extends"base.html.twig" %}

{% set totalHT=0 %}
{% set totalTTC=0 %}


{% block body %}

    <div class="register">
        <div class="container">
            <h2>Payment Failed</h2>
            <div class="login-form-grids">

                <div class="fos_user_user_show">
                    <p>Nom d'utilisateur: oussama3</p>
                    <p>Adresse e-mail: boumaizaoussamab@gmail.commm</p>
                </div>
                <div class="register-home">
                    <a href="{{ path('souk_el_medina_pidev_homepage') }}">Home</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}