
{% extends"base.html.twig" %}



{% block body %}

    <div class="register">
        <div class="container">
            <h2>Payment Succeed</h2>
            <div class="login-form-grids">

                <div class="fos_user_user_show">
                    <p>Nom d'utilisateur: {{ user }}</p>
                    <p>Adresse e-mail: </p>
                </div>
                <div class="register-home">
                    <a href="{{ path('souk_el_medina_pidev_homepage') }}">Home</a>
                </div>
            </div>
        </div>
    </div>
    <div class="input-group">

            <span class="input-group-btn">
                <a class="btn btn-primary pull-right" target="_blank" href="pdf/pdfFacture.php" style="margin-right: 5px;"><i class="fa fa-download" ></i> Telecharger Votre Facture PDF</a>
            </span>
    </div>


{% endblock %}